@import './variables.css';
*{
    font-family: "Afacad", sans-serif;
    box-sizing: border-box;
}    

body{
    margin: 0px;
    padding: 0px;
}
/*HEADER*/
.logo{
    height: 70%;
    margin-left: 1rem;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
    background-color:var(--color-verde2);
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 95px;
    top: 0;
    left:0;
    z-index: 1000;
}
header div button{
    margin: 25px 10px;
    width: 145px;
    height: 48px;
    border-radius: 44px;
    font-size: 1.2em;
}
/*HEADER*/
.home{
    background-color: var(--color-gris2);
    height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.buscador{
    height: 15%;
    width: 100%;
    background-image: url(../img/fondo_buscador.png);
    background-size:cover;
    
    color: var(--color-blanco);
    
}
.buscador form{
    /*background-color: var(--color-blanco);*/
    width: 100%;
    display: inline-flex;
    justify-content: center;

}

.buscador h2{
    margin:auto;
    text-align: center;
}
.buscador button{
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-verde2);
    color: var(--color-blanco);
    height: 1.5rem;
}
.buscador input{
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-gris2);
    color: var(--color-blanco);
    border:none;
    height: 1.5rem;
}
.buscador input::placeholder{
    padding-left: 0.5rem;
    
}

.buscador label {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    height: 1.5rem;     
    
}
.buscador label img{
    align-items: center;
    height: 1.5rem;
    margin:0;        
}
/*GALERIA DE CATEGORIAS*/
.categorias{
    background-color: var(--color-gris2);
    height: 45%;
    width: 100%;
}

#galeria-cat{
    display: flex;
    gap: 20px;
    padding: 30px;

}
.categoria-card{
    border:1px solid black;
    border-radius: 5px;
    flex:1;
    padding: 10px;
    background-color: var(--color-gris1);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);

}
/*GALERIA DE CATEGORIAS*/
/*RECOMENDADOS*/
#section-recomendados{
    width: 85vw;
}
.recomendados{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
}
.card{
border: 1px black solid;
border-radius: 5px;
box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);
background-color: var(--color-gris1);
padding: 8px;
}
.card img{
    width: 100%;
    height: 60%;
    border-radius: 4px;
    border: 1px black solid;
}
/*RECOMENDADOS*/

@media(max-width: 700px){
.logo{
    height: 50%;
    margin: 10%;
    margin-left: 20%;
}
header div button{
    width: 87px;
    height: 29px;
    font-size: 0.8em;
    margin: 30px 10px;

}
}

@media(max-width:425px){
    .logo{
        height: 50%;
        margin: 10%;
        margin-left: 20%;
    }
    header div button{
        margin: 3px 0px;
    }
#button-container{
    padding: 15px 0px 5px 40px;
}

}