@import './variables.css';
*{
    font-family: "Afacad", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}    

body{
    margin: 0px;
    padding: 0px;
}
/*HEADER*/
.logo{
    height: 70%;
    margin-left: 1rem;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
    background-color:var(--color-verde2);
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 10vh;
    top: 0;
    left:0;
    z-index: 1000;
}

header div {
    display: flex;
    justify-content: space-between;
}
/*header div button{
    margin: auto;
    margin-right:1rem ;
    width: 7rem;
    border-radius: 44px;
}*/
header div button{
    
    width: 7rem;
    background-color:transparent;
    border: none;
    color: var(--color-blanco);
    font-size: large;
}
header div button:hover{
    color: var(--color-gris2);
}
header div span{
    border: none;
    color: var(--color-blanco);
    font-size: large;
    align-self: center;
}

/*HEADER*/
.home{
    background-color: var(--color-gris2);
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*BUSCADOR*/
.buscador{
    width: 100%;
    background-image: url(../img/2022_Camping_Banner2.png);
    background-size:auto;
    background-position-x:-100px;
    background-position-y:240px;
    color: var(--color-blanco);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    height: 14rem;
}

.buscador form{
    width: 100%;
    display: inline-flex;
    justify-content: center;

}

.buscador h2{
    margin: 0;
    text-align: center;
    font-size: xx-large;
}
.buscador button{
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-verde2);
    color: var(--color-blanco);
    height: 1.5rem;
}
.buscador input{
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-gris2);
    color: var(--color-blanco);
    border:none;
    height: 1.5rem;
}
.buscador input::placeholder{
    padding-left: 0.5rem;
    
}

.buscador label {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    height: 1.5rem;     
    
}
.buscador label img{
    align-items: center;
    height: 1.5rem;
    margin:0;  
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255));

}
/*BUSCADOR*/
/*GALERIA DE CATEGORIAS*/
.galeria, .registrar{
    width: 95%;
    margin:10px;
    background-color: var(--color-gris1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);
}
.galeria h2{
    font-size: 1.5rem;
    color: var(--color-verde2);
}
#h2-cat{
    margin: 0px 10px;
    color: var(--color-verde2);
}
.categorias h3{
    margin-bottom: 0;
    margin-top: 0.5rem;
    color: var(--color-verde2);
}
#galeria-cat{
    display: flex;
    gap: 1vw;
    padding: 15px;

}
.categoria-card{
    border-radius: 5px;
    flex:1;
    padding: 10px;
    background-color: var(--color-blanco);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);

}
.categoria-text{
    margin: 2px;
    font-size: 1rem;
}
.categoria-card img {
    width: 100%;
    height: 60%;
}
figure{
    margin: 0;
}
/*GALERIA DE CATEGORIAS*/
/*RECOMENDADOS*/

.recomendados{
    gap: 1vw;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
#recomendados h2{
    margin: 0px 10px;
    color: var(--color-verde2);
}

.card{
    border-radius: 5px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);
    background-color: var(--color-blanco);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contenedor-imagen{
    grid-row:1/3;
    height: 100%;
    display: flex;
}
.card img{
    width: 100%;
    border-radius: 4px;
}
.card h3{
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--color-verde2);
}
.card p{
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-verde2);
}
#recomendados{
    font-size: 1rem;
}
/*RECOMENDADOS*/
/*DETAIL*/
.detail header{
    width: 100vw;
    background-color: var(---color-verde1);
    height: 30px;
    display: flex;
    justify-content: space-between;
}

/*DETAIL*/
/*REGISTRAR*/
.drop{
    border: 2px dashed var(--color-gris2);
    padding: 10px;
    cursor: pointer;
    font-size: larger;
}
.label-drop{
    font-size: larger;
}
.inputs{
    width: 100%;
    display: inline-flex;
    margin-bottom: 1rem;
}
.inputs label{
    width: 20%;
    font-size: larger;
}

.inputs input{
    width: 80%;
    font-size: 1rem;
}
.registrar .input-descripcion, .registrar .input-info{
    height:4rem;
}

.registrar{
    height: 87vh;
    width: 98%;
    display: flex;
    flex-direction:column ;
}
.registrar h2{
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;

}
.contentedor-img-cargada{
    grid-template-columns: repeat(10,1fr);
    height: 4rem;
}   
.registrar img{
    height: 100%;
    
}
.registrar input{
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-gris2);
    color: var(--color-blanco);
    border:none;
    height: 1.5rem;
    color: var(--color-verde2);
    padding-left: 0.5rem;
    
    
}

.registrar label {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    height: 1.5rem;     
    
}
.registrar button {
    margin-left: 1rem;
}
.mensaje-error{
    color: red;
}
.carga-exitosa{
    color: var(--color-verde2);
}
@media(max-width:425px){

    .logo{
        height: 40%;
        margin-left: 1rem;
    }
    .buscador{
        width: 100%;
        background-size: 150%;
        
     
    
        height: 7rem;
    }
    .buscador h2{
        font-size: 1.5rem;
    }

    #galeria-cat{
        display: grid;
        gap: 1vw;
        padding: 15px;
        grid-template-columns: 50% 50% ;
    
    }
    #h2-cat, #recomendados h2{
        text-align: center;
    }
    .contenedor-imagen{
        grid-row:1/3;
        height: 100%;
        display: flex;
    }
    .card img{
        border-radius: 4px;
    }
    .card{
        grid-template-columns: 100%;
        grid-template-rows: 60% 15% 15%;
    }
    .card h3{
        font-size: 1.5rem;
        padding: 0.1rem;
    }
    .card p{
        font-size: 1rem;
        padding: 0.1rem;
    }

}