@import './variables.css';
*{
    font-family: "Afacad", sans-serif;
    box-sizing: border-box;
}    

body{
    margin: 0px;
    padding: 0px;
}
/*HEADER*/
.logo{
    height: 70%;
    margin-left: 1rem;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
    background-color:var(--color-verde2);
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 8vh;
    top: 0;
    left:0;
    z-index: 1000;
}

header div {
    display: flex;
    justify-content: space-between;
}
/*header div button{
    margin: auto;
    margin-right:1rem ;
    width: 7rem;
    border-radius: 44px;
}*/
header div button{
    
    width: 7rem;
    background-color:transparent;
    border: none;
    color: var(--color-blanco);
    font-size: large;
}
header div span{
    border: none;
    color: var(--color-blanco);
    font-size: large;
    align-self: center;
}

/*HEADER*/
.home{
    background-color: var(--color-gris2);
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*BUSCADOR*/
.buscador{
    width: 100%;
    background-image: url(../img/fondo_buscador.png);
    background-size:cover;
    color: var(--color-blanco);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    height: 7rem;
}

.buscador form{
    width: 100%;
    display: inline-flex;
    justify-content: center;

}

.buscador h2{
    margin: 0;
    text-align: center;
    font-size: xx-large;
}
.buscador button{
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-verde2);
    color: var(--color-blanco);
    height: 1.5rem;
}
.buscador input{
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-gris2);
    color: var(--color-blanco);
    border:none;
    height: 1.5rem;
}
.buscador input::placeholder{
    padding-left: 0.5rem;
    
}

.buscador label {
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    height: 1.5rem;     
    
}
.buscador label img{
    align-items: center;
    height: 1.5rem;
    margin:0;  
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255));

}
/*GALERIA DE CATEGORIAS*/
.categorias{
    background-color: var(--color-gris2);
    width: 100%;
}
.categorias h3{
    margin-bottom: 0;
    margin-top: 0.5em;
}
#galeria-cat{
    display: flex;
    gap: 20px;
    padding: 20px;

}
.categoria-card{
    border:1px solid black;
    border-radius: 5px;
    flex:1;
    padding: 10px;
    background-color: var(--color-gris1);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);

}
/*GALERIA DE CATEGORIAS*/
/*RECOMENDADOS*/
#section-recomendados{
    width: 85vw;
}
.recomendados{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
}
.card{
border: 1px black solid;
border-radius: 5px;
box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);
background-color: var(--color-gris1);
padding: 8px;
}
.card img{
    width: 100%;
    height: 60%;
    border-radius: 4px;
    border: 1px black solid;
}
/*RECOMENDADOS*/

@media(max-width: 700px){
.logo{
    height: 50%;
    margin: 10%;
    margin-left: 20%;
}
header div button{
    width: 87px;
    height: 29px;
    font-size: 0.8em;
    margin: 30px 10px;

}
}

@media(max-width:425px){
    .logo{
        height: 50%;
        margin: 10%;
        margin-left: 20%;
    }
    header div button{
        margin: 3px 0px;
    }
#button-container{
    padding: 15px 0px 5px 40px;
}

}