:root{
    --color-blanco: #FEFEFE;
    --color-gris1: #FCF3EE;
    --color-gris2: #D9D9D9;
    --color-gris3: #3C6D71;
    --color-amarillo: #BFEF65;
    --color-naranja: #F4743B;
    --color-verde1: #13472E;
    --color-verde2: #1E392A;
}